.main-navigation ul li a:hover{
    color: @color-darker-violet;
}

.benefit-card:hover {
    transform: scale(1.17);    
    // outline: 3px solid  rgba(@color-darker-violet, .05);   
    // outline: 10px solid black;
    box-shadow: 0 0 8px rgba(254, 19, 144, .3);
    
    
    transition: .5s;
}

.benefit-card:hover .benefit-text{
    opacity: 1;
    transition: .5s;
    transform: translate(-50%, 70%);
    
}
