
@import "./colors.less";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&family=PT+Sans&display=swap');


/* || Typography */

h1, h2, button{
    text-transform: uppercase;
}

P, a, h1, .fp-contact-form input[type=submit], h2{
    font-family: 'Open Sans';
    font-weight: 400;
}

body {
    font-size: 16px;
}

.front-page-call-to-action-container h2, .frontpage-benefits-container h2, .frontpage-footer-wrapper h2{
    font-style: italic;
    font-weight: 600;
}

h1 {
    font-weight: 800;
}

button {
    font-family: 'PT Sans';
    font-weight: 400;
}

header h1{
    font-size: 4em;
}

button {
    font-size: 1.125em;
}

.front-page-call-to-action-container h2, .frontpage-benefits-container h2, .frontpage-footer-wrapper h2{
    font-size: 3em;
    
}

.copyright-info p{
    font-size: 0.75em;
}

/* || General styles */

* {
    margin: 0;
    padding: 0;
}

.grid-display{
    display: grid;
    grid-template-columns: repeat(12, 69px);
    grid-gap: 30px;
} 

.flex-row{
    display: flex;
    flex-direction: row;
}

#page-container{
    // display: grid;
    // grid-template-columns: repeat(12,69px);
    // grid-gap: 30px;
    max-width: 80vw;
    margin: 0 auto;    
}

#page-container > * {        
    // grid-column: 1/13;
    
}

#page-container > section:nth-child(odd){
    background-color: @color-lightest-gray;
}

#page-container > section:nth-child(even){
    background-color: @color-white;
}

.main-navigation *{
    margin: 0;
    padding: 0;
}

.grid-mask{       
    display: grid;
    grid-template-columns: repeat(12, 69px);
    grid-gap: 30px;
    
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/* || Main navigation */

.main-navigation {
    height: 102px;
    transform: translateX(215px);
}

.main-navigation ul li a{
    margin-right: 64px;
    line-height: 100px;
}

.main-navigation ul li a{
    text-decoration: none;
    color: @color-black;
}

.main-navigation ul{
    list-style: none;
}

/* || Frontpage Header */

.header-left{
    grid-column: 1/9;    
}
.header-left h1{
    
}

.header-right{
    grid-column: 9/13;
    transform: translateX(-216px);
}
   
.header-content h1, .header-content button {
    color: @color-white;
}

.header-content button{
    background-color: transparent;
    border: 3px solid @color-white;
    width: 250px;
    height: 63px;
}

.header-content{
    background: radial-gradient(farthest-side at 95% 76%, #FE1390 0%, #DF1CC5 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 650px;
    transform: translateX(-10%);
    
}

.header-item{
    width: 60vw;
    margin: 0 auto;
}

.header-right img {
    width: 750px;
    height: auto;
}

.header-left{
    transform: translateY(186px);
}

.header-left button{
    transform: translateY(64px);
}

/* || Frontpage call to action section */

.front-page-call-to-action-container{
    height: 650px;
    width: 100vw;
    transform: translateX(-10%);
    margin: 0;
}

.fp-call-to-action-wrapper {
    width: 60vw;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#fp-call-to-action-right h2, #fp-call-to-action-right p, #fp-call-to-action-right ul{
    margin-bottom: 24px;
}

#fp-call-to-action-right ul{
     transform: translateX(35px);
}

#fp-call-to-action-left img{
    height: 500px;
    width: auto;
}

#fp-call-to-action-left{
    grid-column: 1/6;
    transform: translateX(-140px);
}

#fp-call-to-action-right{
    grid-column: 7/13;
}

h2{
    color: @color-black;
}

section p, section ul {
    color: @color-darkest-gray;
}

.front-page-call-to-action-container button {
    color: @color-darker-violet;
    background-color: transparent;
    border: 1px solid @color-darker-violet;
    width: 300px;
    height: 63px;
}

/* || Frontpage benefits section */

.frontpage-benefits-container{
    width: 100vw;
    grid-column: none;
    transform: translateX(-10%);
    height: 650px;
    text-align: center;
    box-sizing: border-box;
}

.frontpage-benefits-container p{
    width: 564px;
    margin: 0 auto;
}

#fp-benefits-card-wrapper section img{
    width: auto;
    height: 128px;
}

#fp-benefits-card-wrapper{
    justify-content: center;
}

#fp-benefits-card-wrapper .benefit-card{
    padding: 64px 80.16px 64px 80px;
    border-radius: 16px;
    box-shadow: 0px 3px 6px @color-lightest-pink
}

.fp-benefit-wrapper{
    width: 60vw;
    margin: 0 auto;    
    transform: translateY(68px);
}

.fp-benefit-wrapper h2{
    margin: 0;
    padding: 0;
}

.fp-benefit-wrapper p{
    margin-bottom: 48.5px;
}

.benefit-card {
    background-color: @color-white;
    margin-right: 30px;
    width: 256px;
    box-sizing: border-box;
    text-align: center;
    opacity: 1;
}

/* || Frontpage footer */
.fp-footer-left{
    grid-column: 3/8;
}

.fp-footer-right{
    grid-column: 8/13;
}

.form-wrapper{
    grid-column: 6/10;    
    
}

.frontpage-footer-wrapper input{
    color: @color-darker-gray;
}

.frontpage-footer-wrapper input[type=submit]{
    color: @color-white;
    background: transparent radial-gradient(closest-side at 50% 50%, #FE1390 0%, #DF1CC5 100%) 0% 0% no-repeat padding-box;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    border: none;
}

.copyright-info {
    color: @color-darker-gray;
}

