
@import "./colors.less";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&family=PT+Sans&display=swap');


/* || Typography */

/* || General styles */

* {
    margin: 0;
    padding: 0;
}

body{

}

p{

}

h1{

}

h2{

}

ul{

}

a{

}

#page-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
    max-width: 80vw;
}

/* || Main navigation */

/* || Frontpage Header */

/* || Frontpage call to action section */

/* || Frontpage benefits section */

/* || Frontpage footer */



