
@import "./colors.less";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&family=PT+Sans&display=swap');


/* || Typography */

/* || General styles */

* {
    margin: 0;
    padding: 0;
}

.grid-display{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}   

#page-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
    max-width: 80vw;
    margin: 0 auto;
}

#page-container > * {        
    grid-column: 1/13;
}

/* || Main navigation */

/* || Frontpage Header */

.header-left{
    grid-column: 1/8;
}

.header-right{
    grid-column: 8/13;
}
   
/* || Frontpage call to action section */

#fp-call-to-action-left{
    grid-column: 1/6;
}

#fp-call-to-action-right{
    grid-column: 6/13;
}

/* || Frontpage benefits section */

/* || Frontpage footer */



